h1 {
margin-left: 650px;
}

form {
  justify-content: center;
  margin-left: 560px;
}

li {
	margin: 20px 0;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

li span {
	padding: 8px;
}

li button {
	color: red;
	border: thin;
	padding: 10px;
}

li.done {
	border: 2px;
	color: white;
  background-color: green;
}

li.not-done {
	border: 2px;
  color: white;
  background-color: red;
}
